body {
  background-color: LightBlue;
}

article {
  width: 60%;
  margin: auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.8vw;
  background-color: LightGray;
  border: solid black 3px;
  padding: 1vw;
}

h1 {
  text-align: center;
  font-size: 2.6vw;
}

img {
  width: 65%;
  max-width: 300px;
  grid-column: 1 / 2;
  border: solid grey;
  margin: auto;
}

#img-div {
  display: grid;
  grid-template-rows: 50% 50%;
}

#caption-div {
  grid-area: 2 / 1 / 3 / 2;
  text-align: center;
}

footer {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.4vw;
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  #caption-div{
     font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
  img {
    width: 400px;
  }
  article {
    font-size: 1.1em;
    width: 600px;
  }
}
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.4vw;
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
